<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <img src="../images/robot.jpg" class="potrait" alt="">
        <h2>From {{obj.name}}</h2>
        {{>footer}}
    </div>


</body>

</html>